.filter__label {
  font-size: 1.35rem;
  font-weight: 400;
  margin-bottom: 1rem;
  display: flex;
  align-items: center
}

.filter__label svg {
  fill: var(--dark);
  margin-left: auto;
}

.filter__category {
  margin-bottom: 2rem;
}

.expandable__category--expanded {
  max-height: 400px;
  overflow-y: scroll;
}

.filter-btn {
  cursor: pointer;
  display: flex;
  fill: var(--dark);
  margin-top: .5rem;
  padding-left: 5px;
  transition: fill .5s ease;
}

.filter-btn:hover {
  fill: var(--primary);
}

.sort-dropdown {
  fill: rgb(79, 79, 79);
  cursor: pointer;
  position: relative;
}

.sort-header {
  display: flex;
  align-items: center;
}

.sort-menu {
  position: absolute;
  right: 0;
  font-size: 1rem;
  font-weight: 300;
  background: var(--dark);
  color: var(--light);
  padding: .25rem 0;
}

.sort-menu__option {
  padding: .35rem 1rem;
}

.sort-menu__option:hover {
  background: var(--primary);
  color: var(--dark);
  transition: all 0.3s ease-in-out;
}

.sort-header svg {
  margin-left: 1rem;
}
