
:root {
  --primary: #393fef;
  --secondary: #f5cf46;
  --text: #3c3c3c;
}

@font-face {
  font-family: 'GT-America';
  src: local('GT-America-Standard-Black-Italic'), url("./fonts/GT-America-Black-Italic.woff2") format('woff2');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'GT-America';
  src: local('GT-America-Standard-Black'), url("./fonts/GT-America-Black.woff2") format('woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'GT-America';
  src: local('GT-America-Standard-Regular'), url("./fonts/GT-America-Regular.woff2") format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'GT-America';
  src: local('GT-America-Thin'), url("./fonts/GT-America-Thin.woff2") format('woff2');
  font-weight: 300;
}

@font-face {
  font-family: 'GT-America';
  src: local('GT-America-Thin-Italic'), url("./fonts/GT-America-Thin-Italic.woff2") format('woff2');
  font-weight: 300;
  font-style: italic;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'GT-America', serif;
  color: var(--primary);
}

.title {
  border-bottom: 4px transparent solid;
  font-family: 'GT-America', serif;
  font-weight: 700;
  font-size: 5rem;
}

.header {
  align-items: center;
  border-top: 10px solid var(--primary);
  color: var(--primary);
  display: flex;
  min-height: 12rem;
  justify-content: space-between;
  padding: 0 4rem 0 2rem;
}

.title:hover {
  background: white;
  border-bottom: 4px dashed var(--primary);
  fill: var(--primary);
  cursor: pointer;
}

.icon__wrapper {
  background: var(--primary);
  border-radius: 50%;
  height: 3rem;
  fill: white;
  padding: 10px;
  width: 3rem;
}

.icon__wrapper:hover {
  background: white;
  border: 4px dashed var(--primary);
  fill: var(--primary);
  cursor: pointer;
}

.icon {
  height: 100%;
  width: 100%;
}

.body-icon__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--primary);
  border: 1px dashed var(--primary);
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
  padding: 5px;
}

.body {
  margin: 0 auto;
  max-width: 1000px;
}

.profile {
  display: flex;
  justify-content: flex-end;
}

.avatar {
  border-radius: 50%;
  margin-right: 5rem;
  max-height: 120px;
  max-width: 120px;
}

.avatar img {
  border-radius: 50%;
  mix-blend-mode: multiply;
  filter: grayscale(100%);
  width: 100%;
}

.sub-head {
  font-size: 4rem;
  font-weight: 300;
}

.clip__container {
  max-width: 450px;
}

.clip__video {
  width: 100%;
}

a, a:visited, a:hover, a:active {
  color: inherit;
}

.upload-form {
  max-width: 40rem;
  margin: 0 auto;
}

.fieldset {
  margin-bottom: 2rem;
  display: flex;
  flex-flow: column;
}

.label {
  font-size: 1.2rem;
  margin-bottom: .5rem;
}

.btn {
  background: transparent;
  border: 3px solid var(--primary);
  color: var(--primary);
  cursor: pointer;
  font-weight: 700;
  padding: .75rem 1.25rem;
}

.btn:hover { border: 3px dashed var(--primary); }

.btn--primary {
  background: var(--primary);
  color: #fff;
}

.btn--primary:hover {
  border: 3px dashed var(--primary);
  color: var(--primary);
  background: transparent;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
}

.btn-container .btn:last-child { margin-left: 1rem; }

.loader {
  width: 100px;
  height: 100px;
  margin: 20px;
  display:inline-block;
  fill: var(--secondary);
}

.grappler {
  align-items: center;
  display: flex;
  cursor: pointer;
  font-size: 1.75rem;
  margin-bottom: 2rem;
  border-bottom: 2px solid var(--primary);
  padding: 1.5rem 0;
  text-decoration: none;
}

.grappler:hover {
  background: var(--primary);
  color: white;
  border-bottom: 2px solid white;
}

.grappler:hover .body-icon__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: white;
  border: 1px dashed white;
}

.grappler--create {
  display: inline-block;
  padding:  .5rem 1rem;
}
